.#{$namespace}-card{
	position: relative;
    overflow: hidden;
    color: #000;
	float: left;
	box-sizing: border-box;
	width: 100%;
	margin: 0px;
	position: relative;
	overflow: hidden;
	margin: 0.5rem 3px 1rem 3px;
	background-color: #fff;
	&:hover{
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.6),0 2px 10px 0 rgba(0,0,0,0.12);
	}
	&[data-flexicard-round]{
		border-radius: 2px;
		.#{$namespace}-card-tab{
			border-radius: 2px;
		}
	}
}
	.#{$namespace}-card-box{
		.#{$namespace}-card-title{
			  font-size: 24px;
			  font-weight: 300;
		}
		.#{$namespace}-card-content{
			 padding: 10px 20px;
			p{
				color: inherit;
			}
		}
	}
	.col{
		padding: 0px!important;
		margin: 0px 2px!important;
	}
 
.#{$namespace}-card-tabs{
	width: 100%;
	color:#fff;
	height: 1.5em;
	.#{$namespace}-card-tab{
		height: 1.5em;
		width: 1.5em;
		cursor: pointer;
		margin: 1px;
		text-align: center;
		box-sizing: border-box;
		display: inline-block;
		bottom: 0px;
		position: relative;
		float: left;
		.fa{
			box-shadow: none;
		}
			&:hover{
					box-shadow:0 2px 5px 0 rgba(0,0,0,0.26),0 2px 10px 0 rgba(0,0,0,0.22);
				    font-weight: 700;
			}
		&.expanded{
			  position: absolute;
			  overflow: hidden;
			  z-index: 10;
			  color: #fff; 
			  &:hover{
			  	font-weight: normal;
			  	box-shadow: none;
			  }
		}
		.#{$namespace}-card-tab-image{
		 	display:inline-block;
			//padding: 0.1em;
			text-align: center;
    		vertical-align: bottom;
			height: 2rem;
			width: 2rem;
		}
		.#{$namespace}-card-tab-content{
			  display: none;
			  height: inherit;
		 
			  	& .#{$namespace}-card-close-button{
				  	  width: 30px;
					  height: 30px;
					  float: right;
					  background-color: transparent;
					  color: #777;
					  font-size: 20px;
					  cursor: pointer;
			   }
			   & .#{$namespace}-card-content{

				   	& .#{$namespace}-card-content-title{
					
				   	}
				    & .#{$namespace}-card-content{
				   	
				   }
			   }
		}
	}
	.#{$namespace}-card-link{
		display: inline-block;
		float: right;
		font-size: 13px;
		height: inherit;
		a{
			  display: table-cell;
			  vertical-align: middle;
			  line-height: inherit;
			  position: relative;
			  padding-top: 10%;
		}
	}
}